<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:mariadb://localhost:3306/huella_de_carbono?useSSL=false&amp;serverTimezone=UTC
        </property>

        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Dialecto de Hibernate para MariaDB -->
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>

        <!-- Configuración de Hibernate -->
        <property name="hibernate.show_sql">false</property> <!-- Muestra las consultas SQL en la consola -->
        <property name="hibernate.format_sql">true</property> <!-- Formatea las consultas SQL -->
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- Crea o actualiza tablas automáticamente -->

        <!-- Mapeado de clases -->
        <mapping class="org.example.entities.Categoria"/>
        <mapping class="org.example.entities.Habito"/>
        <mapping class="org.example.entities.Actividad"/>
        <mapping class="org.example.entities.Usuario"/>
        <mapping class="org.example.entities.Huella"/>
        <mapping class="org.example.entities.Recomendacion"/>
        <mapping class="org.example.entities.HabitoId"/>
    </session-factory>
</hibernate-configuration>
